<% for(const provider of locals.providers) { %>
<div id="provider-<%= provider.id %>">
  <h3><%= provider.name %></h3>
  <%
  if (user[provider.id]) {
    const {profile} = user[provider.id]
  %>
    <p>ID: <%= profile.id %></p>
    <p>Username: <%= profile.username %></p>
    <p>Display Name: <%= profile.displayName %></p>
  <% } else { %>
  <p>User is not logged in using <%= provider.name %> account.</p>
  <p><a href="/auth/<%= provider.id %>">Login with <%= provider.name %></a></p>
  <% } %>
</div>
<% } %>

